<html>
    <head>
        <style>
            #sub{
                background-color: yellow;
                color: black;
                height: 30px;
                width: 70px;
            }
            input{
                height: 5%;
                width: 40%;
            }
        </style>
    </head>
    <body style="background-color: black;">
        <form method="POST" action="/title/">
            <input type="text" name="title" placeholder="ENTER TITLE"><br>
            <input type="submit" value="SUBMIT" id="sub">
        </form>
        <form method="POST" action="/lan/">
            <select name="lan">
                <option value="hi">HINDI</option>
                <option value="en">ENGLISH</option>
                <option value="fr">FRENCH</option>
                <input type="submit" value="SUBMIT" id="sub">
            </select>
        </form>
    </body>
</html>