<html>
    <head>
        <style>
        #l1{
            color: blanchedalmond;
            font-size: 30px;
            font-family: 'Courier New', Courier, monospace;
        }
        #l2{
            color: cadetblue;
            font-size: 40px;
            font-style: italic;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        div{
            margin-left: 300px;
        }
        </style>
    </head>
    <body style="background:linear-gradient(#123456,coral);">
        {% for i in data %}
            {% for key,value in i.items() %}
            {% if key=="poster" %}
                <div>
                    <img src={{ value }}>
                </div>
            {% elif key=="homepage" %}
                <a href={{ value }}><label>REDIRECT TO HOME PAGE</label></a>
            {% else %}
                <label id="l1">{{ key }}</label> : <label id="l2">{{value}}</label><br>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </body>
</html>